@font-face {
  font-family: 'Righteous';
  src: url('../font/Righteous-Regular.eot');
  src: url('../font/Righteous-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Righteous-Regular.woff2') format('woff2'),
       url('../font/Righteous-Regular.woff') format('woff'),
       url('../font/Righteous-Regular.ttf')  format('truetype'),
       url('../font/Righteous-Regular.svg#FontName') format('svg');
}

body, html {
    font-family: "Righteous";
}

.canvas__wrapper {
    display: block;
    width: 100vw;
    height: 100vh;

    position: relative;

    overflow: hidden;
}

.canvas {
    width: 100% !important;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.camera-controles__container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    bottom: 50px;
}

.camera-controles {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    background: linear-gradient(180deg, #F29B27, #DE2B2E, #D12943, #B12349, #66143C);
    padding: 10px;
    border-radius: 10px;
    color: #F1F1F1;
}

.jukebox {
    display: none;
    position: absolute;
    inset: 20px;
    z-index: 1200;
    background-color: rgb(255, 96, 31, .74);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #F1F1F1;
}

.btnRetour {
    color: #F1F1F1;
    background: linear-gradient(180deg, #F29B27, #DE2B2E, #D12943, #B12349, #66143C);
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(243, 219, 185, 0.5));
}

.vinyles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 150px;
    margin-top: 60px;
}

.vinylHouseTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 226px;
    gap: 20px;
}

.boutonsPlayPause {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.vinylHouse {
    position: relative;
    width: 182px;
}

.house {
    width: 100%;
    position: relative;
    z-index: 1300;
}

.vinyl {
    position: absolute;
    width: 182px; /* plus grand que la pochette */
    top: 48%;
    left: 50%;
    transform: translate(-20%, -50%); /* fait dépasser à droite */
    z-index: 1200;
    transition: all .5s ease;
}

.vinylHouse.playing .house {
    transform: translateX(40px);
}

.house.hidden {
    opacity: 0;
}

.vinylHouse.playing .vinyl {
    transform: translate(-38%, -50%) rotate(360deg);
}

.prenom {
    font-size: 20px;
    text-align: center;
    color: #F1F1F1;
}

.qui {
    display: none;
}

.qui__explications {
    display: none;
}