@font-face {
  font-family: 'Righteous';
  src: url('../font/Righteous-Regular.eot');
  src: url('../font/Righteous-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Righteous-Regular.woff2') format('woff2'),
       url('../font/Righteous-Regular.woff') format('woff'),
       url('../font/Righteous-Regular.ttf')  format('truetype'),
       url('../font/Righteous-Regular.svg#FontName') format('svg');
}

body, html {
    font-family: "Righteous";
}

.canvas__wrapper {
    display: block;
    width: 100vw;
    height: 100vh;

    position: relative;

    overflow: hidden;
}

.canvas {
    width: 100% !important;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

h1 {
    font-size: 36px;
    margin: 43px 0;
}

h2 {
    font-size: 28px;
    margin: 35px 0;
}

p {
    max-width: 60%;
    font-size: 18px;
    margin: 21px 0;
}

span, li {
    display: block;
    margin: 12px 0 27px;
    font-size: 18px;
}

.camera-controles__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1100;
    bottom: 50px;
}

.camera-controles {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    background: linear-gradient(180deg, #F29B27, #DE2B2E, #D12943, #B12349, #66143C);
    padding: 10px;
    border-radius: 10px;
    color: #F1F1F1;
}

.camera-controles p {
    align-self: center;
    margin: 0;
}

.camera-suivant, .camera-precedent {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jukebox, .telephone, .porte {
    display: none;
    position: absolute;
    inset: 20px;
    z-index: 1200;
    background-color: rgb(255, 96, 31, .74);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #F1F1F1;
}

.btnRetour {
    color: #F1F1F1;
    background: linear-gradient(180deg, #F29B27, #DE2B2E, #D12943, #B12349, #66143C);
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(243, 219, 185, 0.5));
    cursor: pointer;
}

.vinyles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 150px;
    margin-top: 60px;
}

.vinylHouseTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 226px;
    gap: 20px;
}

.boutonsPlayPause {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.boutonPlay, .boutonPause {
    cursor: pointer;
}

.vinylHouse {
    position: relative;
    width: 182px;
}

.house {
    width: 100%;
    position: relative;
    z-index: 1300;
}

.vinyl {
    position: absolute;
    width: 182px;
    top: 49%;
    left: 50%;
    transform: translate(-20%, -50%);
    z-index: 1200;
    transition: all .5s ease;
}

.vinylHouse.playing .house {
    transform: translateX(40px);
}

.house.hidden {
    opacity: 0;
}

.bgPlaying {
    position: absolute;
    z-index: 1150;
    transform: translate(6%, -100%);
    width: 200px;
    height: 200px;
    opacity: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.04));
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
}

.bgPlaying::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(135deg, rgba(255,255,255,1), rgba(254,147,40,1));
}

.bgPlaying.open {
    opacity: 1;
}

.vinylHouse.playing .vinyl {
    transform: translate(-38%, -50%) rotate(360deg);
    top: 47%;
}

.prenom {
    font-size: 20px;
    text-align: center;
    color: #F1F1F1;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.prenom:hover {
    color: #66143C;
}

.qui, .qui__explications {
    display: none;
}

.qui.open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(10%);
    text-align: center;
    align-items: center;
}

.qui__explications.open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(40%);
    text-align: center;
    align-items: center;
}

.presentations, .presentations__details {
    display: none;
}

.presentations.open, .presentations__details.open {
    display: block;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1400;
    inset: 20px;
    background-color: rgb(255, 96, 31, .74);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #F1F1F1;
}

.fleur1,
.fleur2,
.fleur3,
.fleur4,
.fleur5,
.fleur6 {
    position: absolute;
    z-index: 1500;
    width: 170px;
    pointer-events: none;
}

.fleur1 {
    top: 10%;
    left: 15%;
}

.fleur2 {
    top: 40%;
    left: 10%;
}

.fleur3 {
    top: 70%;
    left: 25%;
}

.fleur4 {
    top: 70%;
    left: 65%;
}

.fleur5 {
    top: 40%;
    left: 80%;
}

.fleur6 {
    top: 10%;
    left: 75%;
}

.qui__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.qui__infos {
    background-color: #F1F1F1;
    width: 320px;
    padding: 30px;
    border-radius: 0 0 20px 20px;
}

.imageMembre {
    width: 320px;
    border-radius: 20px 20px 0 0;
}

.savoirPlus {
    cursor: pointer;
}

.qui__explications p {
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 20px;
}

.lunettes {
    position: absolute;
    inset: 0;
    z-index: 1000;
    background: url("../masque.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.porteTxt, .telephoneTxt {
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20%;

}

.porteTxt p, .telephoneTxt p {
    max-width: 100%;
}
